services:
	-
		class: PHPStan\Type\Symfony\ContainerInterfaceDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Type\Symfony\ControllerDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Type\Symfony\RequestDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStan\Rules\Symfony\ContainerInterfacePrivateServiceRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\Symfony\ContainerInterfaceUnknownServiceRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Rules\Symfony\ModifiedServiceStateRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStan\Type\Symfony\ContainerInterfaceMethodTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
	-
		class: PHPStan\Type\Symfony\ControllerMethodTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
	-
		class: PHPStan\Symfony\ServiceMap
		arguments:
			containerXml: %symfony.container_xml_path%
