parameters:
	dynamicConstantNames:
		- Symfony\Component\HttpKernel\Kernel::VERSION_ID
	exceptions:
		uncheckedExceptionClasses:
			- 'Symfony\Component\Console\Exception\InvalidArgumentException'
	symfony:
		container_xml_path: null
		containerXmlPath: null
		constant_hassers: true
		constantHassers: true
		console_application_loader: null
		consoleApplicationLoader: null
	featureToggles:
		skipCheckGenericClasses:
			- Symfony\Component\OptionsResolver\Options
			- Symfony\Component\Security\Core\User\PasswordUpgraderInterface
	stubFiles:
		- stubs/Psr/Cache/CacheItemInterface.stub
		- stubs/Symfony/Bundle/FrameworkBundle/KernelBrowser.stub
		- stubs/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.stub
		- stubs/Symfony/Bundle/FrameworkBundle/Test/TestContainer.stub
		- stubs/Symfony/Component/Console/Command.stub
		- stubs/Symfony/Component/Console/Helper/HelperInterface.stub
		- stubs/Symfony/Component/Console/Output/OutputInterface.stub
		- stubs/Symfony/Component/DependencyInjection/ContainerBuilder.stub
		- stubs/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.stub
		- stubs/Symfony/Component/EventDispatcher/EventDispatcherInterface.stub
		- stubs/Symfony/Component/EventDispatcher/EventSubscriberInterface.stub
		- stubs/Symfony/Component/EventDispatcher/GenericEvent.stub
		- stubs/Symfony/Component/Form/ChoiceList/Loader/ChoiceLoaderInterface.stub
		- stubs/Symfony/Component/Form/Exception/ExceptionInterface.stub
		- stubs/Symfony/Component/Form/Exception/RuntimeException.stub
		- stubs/Symfony/Component/Form/Exception/TransformationFailedException.stub
		- stubs/Symfony/Component/Form/DataTransformerInterface.stub
		- stubs/Symfony/Component/Form/FormBuilderInterface.stub
		- stubs/Symfony/Component/Form/FormInterface.stub
		- stubs/Symfony/Component/Form/FormTypeExtensionInterface.stub
		- stubs/Symfony/Component/Form/FormTypeInterface.stub
		- stubs/Symfony/Component/Form/FormView.stub
		- stubs/Symfony/Component/HttpFoundation/Cookie.stub
		- stubs/Symfony/Component/HttpFoundation/HeaderBag.stub
		- stubs/Symfony/Component/HttpFoundation/ParameterBag.stub
		- stubs/Symfony/Component/HttpFoundation/Session.stub
		- stubs/Symfony/Component/Messenger/StampInterface.stub
		- stubs/Symfony/Component/Messenger/Envelope.stub
		- stubs/Symfony/Component/OptionsResolver/Options.stub
		- stubs/Symfony/Component/Process/Process.stub
		- stubs/Symfony/Component/PropertyAccess/PropertyPathInterface.stub
		- stubs/Symfony/Component/Security/Acl/Model/AclInterface.stub
		- stubs/Symfony/Component/Security/Acl/Model/EntryInterface.stub
		- stubs/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.stub
		- stubs/Symfony/Component/Security/Core/Authorization/Voter/VoterInterface.stub
		- stubs/Symfony/Component/Security/Core/User/PasswordAuthenticatedUserInterface.stub
		- stubs/Symfony/Component/Security/Core/User/PasswordUpgraderInterface.stub
		- stubs/Symfony/Component/Serializer/Encoder/ContextAwareDecoderInterface.stub
		- stubs/Symfony/Component/Serializer/Encoder/DecoderInterface.stub
		- stubs/Symfony/Component/Serializer/Encoder/EncoderInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/ContextAwareDenormalizerInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/ContextAwareNormalizerInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/DenormalizableInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/NormalizableInterface.stub
		- stubs/Symfony/Component/Serializer/Normalizer/NormalizerInterface.stub
		- stubs/Symfony/Component/Validator/Constraint.stub
		- stubs/Symfony/Component/Validator/ConstraintViolationInterface.stub
		- stubs/Symfony/Component/Validator/ConstraintViolationListInterface.stub
		- stubs/Symfony/Contracts/Cache/CacheInterface.stub
		- stubs/Symfony/Contracts/Cache/CallbackInterface.stub
		- stubs/Symfony/Contracts/Cache/ItemInterface.stub
		- stubs/Twig/Node/Node.stub

parametersSchema:
	symfony: structure([
		container_xml_path: schema(string(), nullable())
		containerXmlPath: schema(string(), nullable())
		constant_hassers: bool()
		constantHassers: bool()
		console_application_loader: schema(string(), nullable())
		consoleApplicationLoader: schema(string(), nullable())
	])

services:
	-
		factory: PHPStan\Symfony\Configuration(%symfony%)

	# console resolver
	-
		factory: PHPStan\Symfony\ConsoleApplicationResolver

	# service map
	symfony.serviceMapFactory:
		class: PHPStan\Symfony\ServiceMapFactory
		factory: PHPStan\Symfony\XmlServiceMapFactory
	-
		factory: @symfony.serviceMapFactory::create()

	# parameter map
	symfony.parameterMapFactory:
		class: PHPStan\Symfony\ParameterMapFactory
		factory: PHPStan\Symfony\XmlParameterMapFactory
	-
		factory: @symfony.parameterMapFactory::create()

	# ControllerTrait::get()/has() return type
	-
		factory: PHPStan\Type\Symfony\ServiceDynamicReturnTypeExtension(Symfony\Component\DependencyInjection\ContainerInterface)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceDynamicReturnTypeExtension(Psr\Container\ContainerInterface)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceDynamicReturnTypeExtension(Symfony\Bundle\FrameworkBundle\Controller\Controller)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceDynamicReturnTypeExtension(Symfony\Bundle\FrameworkBundle\Controller\AbstractController)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ControllerTrait::has() type specification
	-
		factory: PHPStan\Type\Symfony\ServiceTypeSpecifyingExtension(Symfony\Component\DependencyInjection\ContainerInterface)
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceTypeSpecifyingExtension(Psr\Container\ContainerInterface)
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceTypeSpecifyingExtension(Symfony\Bundle\FrameworkBundle\Controller\Controller)
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
	-
		factory: PHPStan\Type\Symfony\ServiceTypeSpecifyingExtension(Symfony\Bundle\FrameworkBundle\Controller\AbstractController)
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]

	# Request::getContent() return type
	-
		factory: PHPStan\Type\Symfony\RequestDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# Request::getSession() type specification
	-
		factory: PHPStan\Type\Symfony\RequestTypeSpecifyingExtension
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]

	# InputBag::get() return type
	-
		factory: PHPStan\Type\Symfony\InputBagDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# HeaderBag::get() return type
	-
		factory: PHPStan\Type\Symfony\HeaderBagDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# SerializerInterface::deserialize() return type
	-
		factory: PHPStan\Type\Symfony\SerializerDynamicReturnTypeExtension(Symfony\Component\Serializer\SerializerInterface, deserialize)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# DenormalizerInterface::denormalize() return type
	-
		factory: PHPStan\Type\Symfony\SerializerDynamicReturnTypeExtension(Symfony\Component\Serializer\Normalizer\DenormalizerInterface, denormalize)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# Envelope::all() return type
	-
		factory: PHPStan\Type\Symfony\EnvelopeReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputInterface::getArgument() return type
	-
		factory: PHPStan\Type\Symfony\InputInterfaceGetArgumentDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputInterface::hasArgument() type specification
	-
		factory: PHPStan\Type\Symfony\ArgumentTypeSpecifyingExtension
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]

	# InputInterface::hasArgument() return type
	-
		factory: PHPStan\Type\Symfony\InputInterfaceHasArgumentDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputInterface::getOption() return type
	-
		factory: PHPStan\Type\Symfony\GetOptionTypeHelper
	-
		factory: PHPStan\Type\Symfony\InputInterfaceGetOptionDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputInterface::getOptions() return type
	-
		factory: PHPStan\Type\Symfony\InputInterfaceGetOptionsDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputInterface::hasOption() type specification
	-
		factory: PHPStan\Type\Symfony\OptionTypeSpecifyingExtension
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]

	# InputInterface::hasOption() return type
	-
		factory: PHPStan\Type\Symfony\InputInterfaceHasOptionDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ArrayNodeDefinition::*prototype() return type
	-
		factory: PHPStan\Type\Symfony\Config\ArrayNodeDefinitionPrototypeDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ExprBuilder::end() return type
	-
		factory: PHPStan\Type\Symfony\Config\ReturnParentDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
		arguments:
		    className: Symfony\Component\Config\Definition\Builder\ExprBuilder
		    methods: [end]

	# NodeBuilder::*node() return type
	-
		factory: PHPStan\Type\Symfony\Config\PassParentObjectDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
		arguments:
		    className: Symfony\Component\Config\Definition\Builder\NodeBuilder
		    methods: [arrayNode, scalarNode, booleanNode, integerNode, floatNode, enumNode, variableNode]

	# NodeBuilder::end() return type
	-
		factory: PHPStan\Type\Symfony\Config\ReturnParentDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
		arguments:
		    className: Symfony\Component\Config\Definition\Builder\NodeBuilder
		    methods: [end]

	# NodeDefinition::children() return type
	-
		factory: PHPStan\Type\Symfony\Config\PassParentObjectDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
		arguments:
		    className: Symfony\Component\Config\Definition\Builder\NodeDefinition
		    methods: [children, validate, beforeNormalization]

	# NodeDefinition::end() return type
	-
		factory: PHPStan\Type\Symfony\Config\ReturnParentDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
		arguments:
		    className: Symfony\Component\Config\Definition\Builder\NodeDefinition
		    methods: [end]

	# new TreeBuilder() return type
	-
		factory: PHPStan\Type\Symfony\Config\TreeBuilderDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]

	# TreeBuilder::getRootNode() return type
	-
		factory: PHPStan\Type\Symfony\Config\TreeBuilderGetRootNodeDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# KernelInterface::locateResource() return type
	-
		class: PHPStan\Type\Symfony\KernelInterfaceDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ParameterBagInterface::get()/has() return type
	-
		factory: PHPStan\Type\Symfony\ParameterDynamicReturnTypeExtension(Symfony\Component\DependencyInjection\ParameterBag\ParameterBagInterface, 'get', 'has')
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ContainerInterface::getParameter()/hasParameter() return type
	-
		factory: PHPStan\Type\Symfony\ParameterDynamicReturnTypeExtension(Symfony\Component\DependencyInjection\ContainerInterface, 'getParameter', 'hasParameter')
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# (Abstract)Controller::getParameter() return type
	-
		factory: PHPStan\Type\Symfony\ParameterDynamicReturnTypeExtension(Symfony\Bundle\FrameworkBundle\Controller\AbstractController, 'getParameter', null)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		factory: PHPStan\Type\Symfony\ParameterDynamicReturnTypeExtension(Symfony\Bundle\FrameworkBundle\Controller\Controller, 'getParameter', null)
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: PHPStan\Symfony\InputBagStubFilesExtension
		tags:
			- phpstan.stubFilesExtension

	# FormInterface::getErrors() return type
	-
		factory: PHPStan\Type\Symfony\Form\FormInterfaceDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# Command::getHelper() return type
	-
		factory: PHPStan\Type\Symfony\CommandGetHelperDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# ResponseHeaderBag::getCookies() return type
	-
		factory: PHPStan\Type\Symfony\ResponseHeaderBagDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# InputBag::get() type specification
	-
		factory: PHPStan\Type\Symfony\InputBagTypeSpecifyingExtension
		tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
