includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	excludePaths:
		- tests/tmp/*
		- tests/*/Example*.php
		- tests/*/console_application_loader.php
		- tests/*/data/*
