<?xml version="1.0" encoding="UTF-8"?>
<phpunit forceCoversAnnotation="true" mapTestClassNameToCoveredClassName="true" verbose="true" colors="true">
    <testsuites>
        <testsuite name="Symfony extension for PHPStan">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
