rules:
	- PHPStan\Rules\Symfony\UndefinedArgumentRule
	- PHPStan\Rules\Symfony\InvalidArgumentDefaultValueRule
	- PHPStan\Rules\Symfony\UndefinedOptionRule
	- PHPStan\Rules\Symfony\InvalidOptionDefaultValueRule

services:
	-
		class: PHPStan\Rules\Symfony\ContainerInterfacePrivateServiceRule
		arguments:
			containerXmlPath: %symfony.containerXmlPath%
		tags: [phpstan.rules.rule]
	-
		class: PHPStan\Rules\Symfony\ContainerInterfaceUnknownServiceRule
		arguments:
			containerXmlPath: %symfony.containerXmlPath%
		tags: [phpstan.rules.rule]

